.Rproj.user
.Rhistory
.RData
.Ruserdata
GettingAndCleaningDataProject.Rproj
AssignmentInstructions.md
notes.txt
getdata_projectfiles_UCI_HAR_Dataset.zip
UCI HAR Dataset/
Codebook.html
README.html
column-names.txt
peer_review.R
